In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Operations on arrays with the same size

In [2]:
a1 = np.arange(20)
a2 = np.linspace(100,200,20)

In [3]:
a1 * a2

array([    0.        ,   105.26315789,   221.05263158,   347.36842105,
         484.21052632,   631.57894737,   789.47368421,   957.89473684,
        1136.84210526,  1326.31578947,  1526.31578947,  1736.84210526,
        1957.89473684,  2189.47368421,  2431.57894737,  2684.21052632,
        2947.36842105,  3221.05263158,  3505.26315789,  3800.        ])

In [4]:
a1 + a2

array([ 100.        ,  106.26315789,  112.52631579,  118.78947368,
        125.05263158,  131.31578947,  137.57894737,  143.84210526,
        150.10526316,  156.36842105,  162.63157895,  168.89473684,
        175.15789474,  181.42105263,  187.68421053,  193.94736842,
        200.21052632,  206.47368421,  212.73684211,  219.        ])

In [5]:
a3 = np.random.randint(5, size=(4, 6))
a3

array([[1, 2, 0, 3, 4, 3],
       [0, 0, 0, 2, 0, 0],
       [0, 1, 0, 1, 3, 2],
       [3, 4, 3, 4, 1, 4]])

In [6]:
a4 = np.random.randint(5, size=(4, 6))
a4

array([[1, 4, 1, 1, 1, 0],
       [1, 3, 0, 3, 3, 1],
       [1, 4, 2, 3, 1, 1],
       [3, 0, 0, 3, 0, 2]])

In [7]:
a3 == a4

array([[ True, False, False, False, False, False],
       [False, False,  True, False, False, False],
       [False, False, False, False, False, False],
       [ True, False, False, False, False, False]], dtype=bool)

In [8]:
a5 = np.arange(100).reshape(10,10)
a5

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [9]:
a6 = np.diag(np.arange(10))
a6

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 4, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 5, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 6, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 8, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 9]])

In [10]:
a5 * a6 # scalar multiplication

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,  11,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,  44,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,  99,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0, 176,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0, 275,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0, 396,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 539,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 704,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 891]])

In [11]:
a5 @ a6 # matrix multiplication

array([[  0,   1,   4,   9,  16,  25,  36,  49,  64,  81],
       [  0,  11,  24,  39,  56,  75,  96, 119, 144, 171],
       [  0,  21,  44,  69,  96, 125, 156, 189, 224, 261],
       [  0,  31,  64,  99, 136, 175, 216, 259, 304, 351],
       [  0,  41,  84, 129, 176, 225, 276, 329, 384, 441],
       [  0,  51, 104, 159, 216, 275, 336, 399, 464, 531],
       [  0,  61, 124, 189, 256, 325, 396, 469, 544, 621],
       [  0,  71, 144, 219, 296, 375, 456, 539, 624, 711],
       [  0,  81, 164, 249, 336, 425, 516, 609, 704, 801],
       [  0,  91, 184, 279, 376, 475, 576, 679, 784, 891]])